<h1>Rebalance Report 2021-04-10 16:16:31.074777</h1>
<h2>Config</h2>
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>asset</th>
      <td>BTC</td>
      <td>ETH</td>
      <td>ALGO</td>
      <td>ADA</td>
      <td>XTZ</td>
      <td>EOS</td>
      <td>XLM</td>
      <td>CGLD</td>
      <td>DASH</td>
      <td>ZEC</td>
      <td>ATOM</td>
      <td>REN</td>
      <td>OMG</td>
      <td>LRC</td>
      <td>MATIC</td>
      <td>SKL</td>
      <td>LINK</td>
      <td>FIL</td>
      <td>NU</td>
      <td>BAND</td>
      <td>GRT</td>
      <td>NMR</td>
      <td>REP</td>
      <td>SNX</td>
      <td>UMA</td>
      <td>MKR</td>
      <td>AAVE</td>
      <td>COMP</td>
      <td>YFI</td>
      <td>BAL</td>
      <td>UNI</td>
      <td>BNT</td>
      <td>SUSHI</td>
      <td>KNC</td>
      <td>BCH</td>
      <td>LTC</td>
      <td>ETC</td>
      <td>USDC</td>
    </tr>
    <tr>
      <th>alloc</th>
      <td>24.89</td>
      <td>10.67</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>3.33</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>2.67</td>
      <td>2.67</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>2.67</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>5.33</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>2.37</td>
      <td>2.37</td>
      <td>0.59</td>
      <td>20.00</td>
    </tr>
  </tbody>
</table>
<h2>Portfolio</h2>
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>asset</th>
      <td>BTC</td>
      <td>ETH</td>
      <td>ALGO</td>
      <td>ADA</td>
      <td>XTZ</td>
      <td>EOS</td>
      <td>XLM</td>
      <td>CGLD</td>
      <td>DASH</td>
      <td>ZEC</td>
      <td>ATOM</td>
      <td>REN</td>
      <td>OMG</td>
      <td>LRC</td>
      <td>MATIC</td>
      <td>SKL</td>
      <td>LINK</td>
      <td>FIL</td>
      <td>NU</td>
      <td>BAND</td>
      <td>GRT</td>
      <td>NMR</td>
      <td>REP</td>
      <td>SNX</td>
      <td>UMA</td>
      <td>MKR</td>
      <td>AAVE</td>
      <td>COMP</td>
      <td>YFI</td>
      <td>BAL</td>
      <td>UNI</td>
      <td>BNT</td>
      <td>SUSHI</td>
      <td>KNC</td>
      <td>BCH</td>
      <td>LTC</td>
      <td>ETC</td>
      <td>USDC</td>
      <td></td>
    </tr>
    <tr>
      <th>relative_percent_diff</th>
      <td>-23.30</td>
      <td>97.73</td>
      <td>368.41</td>
      <td>Infinity</td>
      <td>-55.83</td>
      <td>-56.75</td>
      <td>-10.01</td>
      <td>99.69</td>
      <td>71.39</td>
      <td>60.54</td>
      <td>680.41</td>
      <td>657.69</td>
      <td>-67.20</td>
      <td>199.36</td>
      <td>327.86</td>
      <td>286.98</td>
      <td>-32.27</td>
      <td>-4.80</td>
      <td>76.66</td>
      <td>34.07</td>
      <td>39.62</td>
      <td>9.96</td>
      <td>1127.49</td>
      <td>77.32</td>
      <td>-84.89</td>
      <td>79.19</td>
      <td>Infinity</td>
      <td>68.85</td>
      <td>46.86</td>
      <td>19.95</td>
      <td>17.37</td>
      <td>22.37</td>
      <td>27.42</td>
      <td>-31.29</td>
      <td>-41.12</td>
      <td>-51.92</td>
      <td>24.69</td>
      <td>0.08</td>
      <td>Infinity</td>
    </tr>
    <tr>
      <th>global_percent_diff</th>
      <td>-7.56</td>
      <td>5.27</td>
      <td>1.40</td>
      <td>1.78</td>
      <td>-2.25</td>
      <td>-2.33</td>
      <td>-0.37</td>
      <td>0.33</td>
      <td>0.28</td>
      <td>0.25</td>
      <td>2.32</td>
      <td>2.31</td>
      <td>-2.73</td>
      <td>0.89</td>
      <td>1.02</td>
      <td>0.99</td>
      <td>-1.27</td>
      <td>-0.03</td>
      <td>0.23</td>
      <td>0.14</td>
      <td>0.15</td>
      <td>0.05</td>
      <td>4.90</td>
      <td>0.26</td>
      <td>-3.33</td>
      <td>0.26</td>
      <td>0.59</td>
      <td>0.24</td>
      <td>0.19</td>
      <td>0.06</td>
      <td>0.05</td>
      <td>0.06</td>
      <td>0.08</td>
      <td>-0.16</td>
      <td>-1.66</td>
      <td>-2.56</td>
      <td>0.12</td>
      <td>0.02</td>
      <td>48.49</td>
    </tr>
    <tr>
      <th>current_percent</th>
      <td>32.45</td>
      <td>5.39</td>
      <td>0.38</td>
      <td>0.00</td>
      <td>4.02</td>
      <td>4.11</td>
      <td>3.70</td>
      <td>0.33</td>
      <td>0.39</td>
      <td>0.42</td>
      <td>0.34</td>
      <td>0.35</td>
      <td>4.06</td>
      <td>0.45</td>
      <td>0.31</td>
      <td>0.34</td>
      <td>3.94</td>
      <td>0.56</td>
      <td>0.30</td>
      <td>0.40</td>
      <td>0.38</td>
      <td>0.49</td>
      <td>0.43</td>
      <td>0.33</td>
      <td>3.92</td>
      <td>0.33</td>
      <td>0.00</td>
      <td>0.35</td>
      <td>0.40</td>
      <td>0.30</td>
      <td>0.30</td>
      <td>0.29</td>
      <td>0.28</td>
      <td>0.52</td>
      <td>4.03</td>
      <td>4.93</td>
      <td>0.48</td>
      <td>19.98</td>
      <td>99.98</td>
    </tr>
    <tr>
      <th>target_percent</th>
      <td>24.89</td>
      <td>10.67</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>3.33</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>2.67</td>
      <td>2.67</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>2.67</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>5.33</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>2.37</td>
      <td>2.37</td>
      <td>0.59</td>
      <td>20.00</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>price_btc</th>
      <td>1.00000000</td>
      <td>0.03567000</td>
      <td>0.00002344</td>
      <td>0.00002028</td>
      <td>0.00010796</td>
      <td>0.00010600</td>
      <td>0.00000874</td>
      <td>0.00007204</td>
      <td>0.00445638</td>
      <td>0.00330100</td>
      <td>0.00036000</td>
      <td>0.00001801</td>
      <td>0.00016560</td>
      <td>0.00000933</td>
      <td>0.00000607</td>
      <td>0.00001200</td>
      <td>0.00053177</td>
      <td>0.00297066</td>
      <td>0.00000969</td>
      <td>0.00028671</td>
      <td>0.00003151</td>
      <td>0.00123566</td>
      <td>0.00085700</td>
      <td>0.00032367</td>
      <td>0.00045889</td>
      <td>0.03809000</td>
      <td>0.00617743</td>
      <td>0.00739500</td>
      <td>0.73706000</td>
      <td>0.00085978</td>
      <td>0.00049492</td>
      <td>0.00011991</td>
      <td>0.00024590</td>
      <td>0.00007143</td>
      <td>0.01095000</td>
      <td>0.00383400</td>
      <td>0.00032100</td>
      <td>0.00001656</td>
      <td></td>
    </tr>
    <tr>
      <th>price_usdc</th>
      <td>60378.80</td>
      <td>2153.71</td>
      <td>1.42</td>
      <td>1.22</td>
      <td>6.52</td>
      <td>6.40</td>
      <td>0.53</td>
      <td>4.35</td>
      <td>269.07</td>
      <td>199.31</td>
      <td>21.74</td>
      <td>1.09</td>
      <td>10.00</td>
      <td>0.56</td>
      <td>0.37</td>
      <td>0.72</td>
      <td>32.11</td>
      <td>179.36</td>
      <td>0.59</td>
      <td>17.31</td>
      <td>1.90</td>
      <td>74.61</td>
      <td>51.74</td>
      <td>19.54</td>
      <td>27.71</td>
      <td>2299.83</td>
      <td>372.99</td>
      <td>446.50</td>
      <td>44502.80</td>
      <td>51.91</td>
      <td>29.88</td>
      <td>7.24</td>
      <td>14.85</td>
      <td>4.31</td>
      <td>661.15</td>
      <td>231.49</td>
      <td>19.38</td>
      <td>1.00</td>
      <td></td>
    </tr>
    <tr>
      <th>current_value_btc</th>
      <td>0.23245987</td>
      <td>0.03864726</td>
      <td>0.00271904</td>
      <td>0E-8</td>
      <td>0.02883180</td>
      <td>0.02944680</td>
      <td>0.02653790</td>
      <td>0.00239173</td>
      <td>0.00278675</td>
      <td>0.00297501</td>
      <td>0.00244800</td>
      <td>0.00252140</td>
      <td>0.02911828</td>
      <td>0.00319086</td>
      <td>0.00223255</td>
      <td>0.00246840</td>
      <td>0.02820508</td>
      <td>0.00401336</td>
      <td>0.00216291</td>
      <td>0.00284990</td>
      <td>0.00273664</td>
      <td>0.00347468</td>
      <td>0.00311277</td>
      <td>0.00239419</td>
      <td>0.02810242</td>
      <td>0.00236920</td>
      <td>0E-8</td>
      <td>0.00251430</td>
      <td>0.00289075</td>
      <td>0.00212366</td>
      <td>0.00217021</td>
      <td>0.00208164</td>
      <td>0.00199917</td>
      <td>0.00370722</td>
      <td>0.02884107</td>
      <td>0.03531900</td>
      <td>0.00340492</td>
      <td>0.14316837</td>
      <td>0.71641711</td>
    </tr>
    <tr>
      <th>target_value_btc</th>
      <td>0.17830826</td>
      <td>0.07641783</td>
      <td>0.01273630</td>
      <td>0.01273630</td>
      <td>0.01273630</td>
      <td>0.01273630</td>
      <td>0.02388057</td>
      <td>0.00477611</td>
      <td>0.00477611</td>
      <td>0.00477611</td>
      <td>0.01910446</td>
      <td>0.01910446</td>
      <td>0.00955223</td>
      <td>0.00955223</td>
      <td>0.00955223</td>
      <td>0.00955223</td>
      <td>0.01910446</td>
      <td>0.00382089</td>
      <td>0.00382089</td>
      <td>0.00382089</td>
      <td>0.00382089</td>
      <td>0.00382089</td>
      <td>0.03820891</td>
      <td>0.00424543</td>
      <td>0.00424543</td>
      <td>0.00424543</td>
      <td>0.00424543</td>
      <td>0.00424543</td>
      <td>0.00424543</td>
      <td>0.00254726</td>
      <td>0.00254726</td>
      <td>0.00254726</td>
      <td>0.00254726</td>
      <td>0.00254726</td>
      <td>0.01698174</td>
      <td>0.01698174</td>
      <td>0.00424543</td>
      <td>0.14328342</td>
      <td>0.71641706</td>
    </tr>
    <tr>
      <th>diff_btc</th>
      <td>-0.05415161</td>
      <td>0.03777057</td>
      <td>0.01001726</td>
      <td>0.01273630</td>
      <td>-0.01609550</td>
      <td>-0.01671050</td>
      <td>-0.00265733</td>
      <td>0.00238438</td>
      <td>0.00198936</td>
      <td>0.00180110</td>
      <td>0.01665646</td>
      <td>0.01658306</td>
      <td>-0.01956605</td>
      <td>0.00636137</td>
      <td>0.00731968</td>
      <td>0.00708383</td>
      <td>-0.00910062</td>
      <td>-0.00019247</td>
      <td>0.00165798</td>
      <td>0.00097099</td>
      <td>0.00108425</td>
      <td>0.00034621</td>
      <td>0.03509614</td>
      <td>0.00185124</td>
      <td>-0.02385699</td>
      <td>0.00187623</td>
      <td>0.00424543</td>
      <td>0.00173113</td>
      <td>0.00135468</td>
      <td>0.00042360</td>
      <td>0.00037705</td>
      <td>0.00046562</td>
      <td>0.00054809</td>
      <td>-0.00115996</td>
      <td>-0.01185933</td>
      <td>-0.01833726</td>
      <td>0.00084051</td>
      <td>0.00011505</td>
      <td>-5E-8</td>
    </tr>
    <tr>
      <th>current_value_usdc</th>
      <td>14035.65</td>
      <td>2333.48</td>
      <td>164.17</td>
      <td>0.00</td>
      <td>1740.83</td>
      <td>1777.96</td>
      <td>1602.33</td>
      <td>144.41</td>
      <td>168.26</td>
      <td>179.63</td>
      <td>147.81</td>
      <td>152.24</td>
      <td>1758.13</td>
      <td>192.66</td>
      <td>134.80</td>
      <td>149.04</td>
      <td>1702.99</td>
      <td>242.32</td>
      <td>130.59</td>
      <td>172.07</td>
      <td>165.24</td>
      <td>209.80</td>
      <td>187.95</td>
      <td>144.56</td>
      <td>1696.79</td>
      <td>143.05</td>
      <td>0.00</td>
      <td>151.81</td>
      <td>174.54</td>
      <td>128.22</td>
      <td>131.03</td>
      <td>125.69</td>
      <td>120.71</td>
      <td>223.84</td>
      <td>1741.39</td>
      <td>2132.52</td>
      <td>205.58</td>
      <td>8644.33</td>
      <td>43256.42</td>
    </tr>
    <tr>
      <th>target_value_usdc</th>
      <td>10766.04</td>
      <td>4614.02</td>
      <td>769.00</td>
      <td>769.00</td>
      <td>769.00</td>
      <td>769.00</td>
      <td>1441.88</td>
      <td>288.38</td>
      <td>288.38</td>
      <td>288.38</td>
      <td>1153.50</td>
      <td>1153.50</td>
      <td>576.75</td>
      <td>576.75</td>
      <td>576.75</td>
      <td>576.75</td>
      <td>1153.50</td>
      <td>230.70</td>
      <td>230.70</td>
      <td>230.70</td>
      <td>230.70</td>
      <td>230.70</td>
      <td>2307.01</td>
      <td>256.33</td>
      <td>256.33</td>
      <td>256.33</td>
      <td>256.33</td>
      <td>256.33</td>
      <td>256.33</td>
      <td>153.80</td>
      <td>153.80</td>
      <td>153.80</td>
      <td>153.80</td>
      <td>153.80</td>
      <td>1025.34</td>
      <td>1025.34</td>
      <td>256.33</td>
      <td>8651.28</td>
      <td>43256.36</td>
    </tr>
    <tr>
      <th>diff_usdc</th>
      <td>-3269.61</td>
      <td>2280.54</td>
      <td>604.83</td>
      <td>769.00</td>
      <td>-971.83</td>
      <td>-1008.96</td>
      <td>-160.45</td>
      <td>143.97</td>
      <td>120.12</td>
      <td>108.75</td>
      <td>1005.69</td>
      <td>1001.26</td>
      <td>-1181.38</td>
      <td>384.09</td>
      <td>441.95</td>
      <td>427.71</td>
      <td>-549.49</td>
      <td>-11.62</td>
      <td>100.11</td>
      <td>58.63</td>
      <td>65.46</td>
      <td>20.90</td>
      <td>2119.06</td>
      <td>111.77</td>
      <td>-1440.46</td>
      <td>113.28</td>
      <td>256.33</td>
      <td>104.52</td>
      <td>81.79</td>
      <td>25.58</td>
      <td>22.77</td>
      <td>28.11</td>
      <td>33.09</td>
      <td>-70.04</td>
      <td>-716.05</td>
      <td>-1107.18</td>
      <td>50.75</td>
      <td>6.95</td>
      <td>-0.06</td>
    </tr>
    <tr>
      <th>current_qty</th>
      <td>0.23245987</td>
      <td>1.08346678</td>
      <td>116.000000</td>
      <td>0.0</td>
      <td>267.060000</td>
      <td>277.8000</td>
      <td>3036.3733600</td>
      <td>33.20</td>
      <td>0.62533933</td>
      <td>0.90124512</td>
      <td>6.800000</td>
      <td>140.0</td>
      <td>175.83500000</td>
      <td>342</td>
      <td>367.8</td>
      <td>205.7</td>
      <td>53.04000000</td>
      <td>1.351</td>
      <td>223.210031</td>
      <td>9.94</td>
      <td>86.85</td>
      <td>2.812</td>
      <td>3.63217300</td>
      <td>7.397</td>
      <td>61.240</td>
      <td>0.0622</td>
      <td>0.000</td>
      <td>0.340</td>
      <td>0.003922</td>
      <td>2.47</td>
      <td>4.384976</td>
      <td>17.360017</td>
      <td>8.13</td>
      <td>51.90000000</td>
      <td>2.63388735</td>
      <td>9.21204986</td>
      <td>10.60721197</td>
      <td>8645.432932</td>
      <td></td>
    </tr>
    <tr>
      <th>target_qty</th>
      <td>0.17830826</td>
      <td>2.14235562</td>
      <td>543.357687</td>
      <td>628.0</td>
      <td>117.972436</td>
      <td>120.1538</td>
      <td>2732.3307018</td>
      <td>66.30</td>
      <td>1.07174749</td>
      <td>1.44686885</td>
      <td>53.067934</td>
      <td>1060.8</td>
      <td>57.68253704</td>
      <td>1024</td>
      <td>1573.7</td>
      <td>796.0</td>
      <td>35.92616407</td>
      <td>1.286</td>
      <td>394.312823</td>
      <td>13.33</td>
      <td>121.26</td>
      <td>3.092</td>
      <td>44.58449537</td>
      <td>13.117</td>
      <td>9.252</td>
      <td>0.1115</td>
      <td>0.687</td>
      <td>0.574</td>
      <td>0.005760</td>
      <td>2.96</td>
      <td>5.146813</td>
      <td>21.243106</td>
      <td>10.36</td>
      <td>35.66093848</td>
      <td>1.55084374</td>
      <td>4.42924854</td>
      <td>13.22565335</td>
      <td>8652.380556</td>
      <td></td>
    </tr>
    <tr>
      <th>diff_qty</th>
      <td>-0.05415161</td>
      <td>1.05888884</td>
      <td>427.357687</td>
      <td>628.0</td>
      <td>-149.087564</td>
      <td>-157.6462</td>
      <td>-304.0426582</td>
      <td>33.10</td>
      <td>0.44640816</td>
      <td>0.54562373</td>
      <td>46.267934</td>
      <td>920.8</td>
      <td>-118.15246296</td>
      <td>682</td>
      <td>1205.9</td>
      <td>590.3</td>
      <td>-17.11383593</td>
      <td>-0.065</td>
      <td>171.102792</td>
      <td>3.39</td>
      <td>34.41</td>
      <td>0.280</td>
      <td>40.95232237</td>
      <td>5.720</td>
      <td>-51.988</td>
      <td>0.0493</td>
      <td>0.687</td>
      <td>0.234</td>
      <td>0.001838</td>
      <td>0.49</td>
      <td>0.761837</td>
      <td>3.883089</td>
      <td>2.23</td>
      <td>-16.23906152</td>
      <td>-1.08304361</td>
      <td>-4.78280132</td>
      <td>2.61844138</td>
      <td>6.947624</td>
      <td></td>
    </tr>
  </tbody>
</table>
<h2>Rebalance Orders</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>asset</th>
      <th>product</th>
      <th>side</th>
      <th>pivot_asset_qty</th>
      <th>asset_qty</th>
      <th>usdc_qty</th>
      <th>usdc_fees</th>
      <th>fees_portfolio_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XTZ</td>
      <td>XTZ-BTC</td>
      <td>SELL</td>
      <td>0.01609550</td>
      <td>149.087564</td>
      <td>971.83</td>
      <td>3.40</td>
      <td>0.0079</td>
    </tr>
    <tr>
      <td>EOS</td>
      <td>EOS-BTC</td>
      <td>SELL</td>
      <td>0.01671050</td>
      <td>157.6462</td>
      <td>1008.96</td>
      <td>3.53</td>
      <td>0.0082</td>
    </tr>
    <tr>
      <td>XLM</td>
      <td>XLM-BTC</td>
      <td>SELL</td>
      <td>0.00265733</td>
      <td>304.0426582</td>
      <td>160.45</td>
      <td>0.56</td>
      <td>0.0013</td>
    </tr>
    <tr>
      <td>OMG</td>
      <td>OMG-BTC</td>
      <td>SELL</td>
      <td>0.01956605</td>
      <td>118.15246296</td>
      <td>1181.37</td>
      <td>4.13</td>
      <td>0.0096</td>
    </tr>
    <tr>
      <td>LINK</td>
      <td>LINK-BTC</td>
      <td>SELL</td>
      <td>0.00910062</td>
      <td>17.11383593</td>
      <td>549.48</td>
      <td>1.92</td>
      <td>0.0044</td>
    </tr>
    <tr>
      <td>FIL</td>
      <td>FIL-BTC</td>
      <td>SELL</td>
      <td>0.00019247</td>
      <td>0.065</td>
      <td>11.62</td>
      <td>0.04</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td>UMA</td>
      <td>UMA-BTC</td>
      <td>SELL</td>
      <td>0.02385699</td>
      <td>51.988</td>
      <td>1440.46</td>
      <td>5.04</td>
      <td>0.0117</td>
    </tr>
    <tr>
      <td>KNC</td>
      <td>KNC-BTC</td>
      <td>SELL</td>
      <td>0.00115996</td>
      <td>16.23906152</td>
      <td>70.04</td>
      <td>0.25</td>
      <td>0.0006</td>
    </tr>
    <tr>
      <td>BCH</td>
      <td>BCH-BTC</td>
      <td>SELL</td>
      <td>0.01185933</td>
      <td>1.08304361</td>
      <td>716.05</td>
      <td>2.51</td>
      <td>0.0058</td>
    </tr>
    <tr>
      <td>LTC</td>
      <td>LTC-BTC</td>
      <td>SELL</td>
      <td>0.01833726</td>
      <td>4.78280132</td>
      <td>1107.18</td>
      <td>3.88</td>
      <td>0.0090</td>
    </tr>
    <tr>
      <td>USDC</td>
      <td>BTC-USDC</td>
      <td>SELL</td>
      <td>0.00011505</td>
      <td>6.947624</td>
      <td>6.95</td>
      <td>0.02</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td>ETH</td>
      <td>ETH-BTC</td>
      <td>BUY</td>
      <td>0.03777057</td>
      <td>1.05888884</td>
      <td>2280.54</td>
      <td>7.98</td>
      <td>0.0185</td>
    </tr>
    <tr>
      <td>ALGO</td>
      <td>ALGO-BTC</td>
      <td>BUY</td>
      <td>0.01001726</td>
      <td>427.357687</td>
      <td>604.83</td>
      <td>2.12</td>
      <td>0.0049</td>
    </tr>
    <tr>
      <td>ADA</td>
      <td>ADA-BTC</td>
      <td>BUY</td>
      <td>0.01273630</td>
      <td>628.0</td>
      <td>769.00</td>
      <td>2.69</td>
      <td>0.0062</td>
    </tr>
    <tr>
      <td>CGLD</td>
      <td>CGLD-BTC</td>
      <td>BUY</td>
      <td>0.00238438</td>
      <td>33.10</td>
      <td>143.97</td>
      <td>0.50</td>
      <td>0.0012</td>
    </tr>
    <tr>
      <td>DASH</td>
      <td>DASH-BTC</td>
      <td>BUY</td>
      <td>0.00198936</td>
      <td>0.44640816</td>
      <td>120.12</td>
      <td>0.42</td>
      <td>0.0010</td>
    </tr>
    <tr>
      <td>ZEC</td>
      <td>ZEC-BTC</td>
      <td>BUY</td>
      <td>0.00180110</td>
      <td>0.54562373</td>
      <td>108.75</td>
      <td>0.38</td>
      <td>0.0009</td>
    </tr>
    <tr>
      <td>ATOM</td>
      <td>ATOM-BTC</td>
      <td>BUY</td>
      <td>0.01665646</td>
      <td>46.267934</td>
      <td>1005.70</td>
      <td>3.52</td>
      <td>0.0081</td>
    </tr>
    <tr>
      <td>REN</td>
      <td>REN-BTC</td>
      <td>BUY</td>
      <td>0.01658306</td>
      <td>920.8</td>
      <td>1001.27</td>
      <td>3.50</td>
      <td>0.0081</td>
    </tr>
    <tr>
      <td>LRC</td>
      <td>LRC-BTC</td>
      <td>BUY</td>
      <td>0.00636137</td>
      <td>682</td>
      <td>384.09</td>
      <td>1.34</td>
      <td>0.0031</td>
    </tr>
    <tr>
      <td>MATIC</td>
      <td>MATIC-BTC</td>
      <td>BUY</td>
      <td>0.00731968</td>
      <td>1205.9</td>
      <td>441.95</td>
      <td>1.55</td>
      <td>0.0036</td>
    </tr>
    <tr>
      <td>SKL</td>
      <td>SKL-BTC</td>
      <td>BUY</td>
      <td>0.00708383</td>
      <td>590.3</td>
      <td>427.71</td>
      <td>1.50</td>
      <td>0.0035</td>
    </tr>
    <tr>
      <td>NU</td>
      <td>NU-BTC</td>
      <td>BUY</td>
      <td>0.00165798</td>
      <td>171.102792</td>
      <td>100.11</td>
      <td>0.35</td>
      <td>0.0008</td>
    </tr>
    <tr>
      <td>BAND</td>
      <td>BAND-BTC</td>
      <td>BUY</td>
      <td>0.00097099</td>
      <td>3.39</td>
      <td>58.63</td>
      <td>0.21</td>
      <td>0.0005</td>
    </tr>
    <tr>
      <td>GRT</td>
      <td>GRT-BTC</td>
      <td>BUY</td>
      <td>0.00108425</td>
      <td>34.41</td>
      <td>65.47</td>
      <td>0.23</td>
      <td>0.0005</td>
    </tr>
    <tr>
      <td>NMR</td>
      <td>NMR-BTC</td>
      <td>BUY</td>
      <td>0.00034621</td>
      <td>0.280</td>
      <td>20.90</td>
      <td>0.07</td>
      <td>0.0002</td>
    </tr>
    <tr>
      <td>REP</td>
      <td>REP-BTC</td>
      <td>BUY</td>
      <td>0.03509614</td>
      <td>40.95232237</td>
      <td>2119.06</td>
      <td>7.42</td>
      <td>0.0171</td>
    </tr>
    <tr>
      <td>SNX</td>
      <td>SNX-BTC</td>
      <td>BUY</td>
      <td>0.00185124</td>
      <td>5.720</td>
      <td>111.78</td>
      <td>0.39</td>
      <td>0.0009</td>
    </tr>
    <tr>
      <td>MKR</td>
      <td>MKR-BTC</td>
      <td>BUY</td>
      <td>0.00187623</td>
      <td>0.0493</td>
      <td>113.28</td>
      <td>0.40</td>
      <td>0.0009</td>
    </tr>
    <tr>
      <td>AAVE</td>
      <td>AAVE-BTC</td>
      <td>BUY</td>
      <td>0.00424543</td>
      <td>0.687</td>
      <td>256.33</td>
      <td>0.90</td>
      <td>0.0021</td>
    </tr>
    <tr>
      <td>COMP</td>
      <td>COMP-BTC</td>
      <td>BUY</td>
      <td>0.00173113</td>
      <td>0.234</td>
      <td>104.52</td>
      <td>0.37</td>
      <td>0.0008</td>
    </tr>
    <tr>
      <td>YFI</td>
      <td>YFI-BTC</td>
      <td>BUY</td>
      <td>0.00135468</td>
      <td>0.001838</td>
      <td>81.79</td>
      <td>0.29</td>
      <td>0.0007</td>
    </tr>
    <tr>
      <td>BAL</td>
      <td>BAL-BTC</td>
      <td>BUY</td>
      <td>0.00042360</td>
      <td>0.49</td>
      <td>25.58</td>
      <td>0.09</td>
      <td>0.0002</td>
    </tr>
    <tr>
      <td>UNI</td>
      <td>UNI-BTC</td>
      <td>BUY</td>
      <td>0.00037705</td>
      <td>0.761837</td>
      <td>22.77</td>
      <td>0.08</td>
      <td>0.0002</td>
    </tr>
    <tr>
      <td>BNT</td>
      <td>BNT-BTC</td>
      <td>BUY</td>
      <td>0.00046562</td>
      <td>3.883089</td>
      <td>28.11</td>
      <td>0.10</td>
      <td>0.0002</td>
    </tr>
    <tr>
      <td>SUSHI</td>
      <td>SUSHI-BTC</td>
      <td>BUY</td>
      <td>0.00054809</td>
      <td>2.23</td>
      <td>33.09</td>
      <td>0.12</td>
      <td>0.0003</td>
    </tr>
    <tr>
      <td>ETC</td>
      <td>ETC-BTC</td>
      <td>BUY</td>
      <td>0.00084051</td>
      <td>2.61844138</td>
      <td>50.75</td>
      <td>0.18</td>
      <td>0.0004</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>0.29322358</td>
      <td></td>
      <td>17704.49</td>
      <td>61.98</td>
      <td>0.1436</td>
    </tr>
  </tbody>
</table>
<h2>Invalid Coinbase Orders</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<h2>Valid Coinbase Orders to Submit</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>asset</th>
      <th>type</th>
      <th>side</th>
      <th>product_id</th>
      <th>funds</th>
      <th>split_index</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XTZ</td>
      <td>market</td>
      <td>sell</td>
      <td>XTZ-BTC</td>
      <td>0.01609550</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>EOS</td>
      <td>market</td>
      <td>sell</td>
      <td>EOS-BTC</td>
      <td>0.016710</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>XLM</td>
      <td>market</td>
      <td>sell</td>
      <td>XLM-BTC</td>
      <td>0.00265733</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>OMG</td>
      <td>market</td>
      <td>sell</td>
      <td>OMG-BTC</td>
      <td>0.01956605</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>LINK</td>
      <td>market</td>
      <td>sell</td>
      <td>LINK-BTC</td>
      <td>0.00910062</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>FIL</td>
      <td>market</td>
      <td>sell</td>
      <td>FIL-BTC</td>
      <td>0.00019247</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>UMA</td>
      <td>market</td>
      <td>sell</td>
      <td>UMA-BTC</td>
      <td>0.02385699</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>KNC</td>
      <td>market</td>
      <td>sell</td>
      <td>KNC-BTC</td>
      <td>0.00115996</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>BCH</td>
      <td>market</td>
      <td>sell</td>
      <td>BCH-BTC</td>
      <td>0.01186</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>LTC</td>
      <td>market</td>
      <td>sell</td>
      <td>LTC-BTC</td>
      <td>0.018337</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>USDC</td>
      <td>market</td>
      <td>sell</td>
      <td>BTC-USDC</td>
      <td></td>
      <td>0</td>
      <td>0.00011505</td>
    </tr>
    <tr>
      <td>ETH</td>
      <td>market</td>
      <td>buy</td>
      <td>ETH-BTC</td>
      <td>0.03777</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ALGO</td>
      <td>market</td>
      <td>buy</td>
      <td>ALGO-BTC</td>
      <td>0.01001726</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ADA</td>
      <td>market</td>
      <td>buy</td>
      <td>ADA-BTC</td>
      <td>0.01273630</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>CGLD</td>
      <td>market</td>
      <td>buy</td>
      <td>CGLD-BTC</td>
      <td>0.00238438</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>DASH</td>
      <td>market</td>
      <td>buy</td>
      <td>DASH-BTC</td>
      <td>0.00198936</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ZEC</td>
      <td>market</td>
      <td>buy</td>
      <td>ZEC-BTC</td>
      <td>0.001801</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ATOM</td>
      <td>market</td>
      <td>buy</td>
      <td>ATOM-BTC</td>
      <td>0.016656</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>REN</td>
      <td>market</td>
      <td>buy</td>
      <td>REN-BTC</td>
      <td>0.01658306</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>LRC</td>
      <td>market</td>
      <td>buy</td>
      <td>LRC-BTC</td>
      <td>0.00636137</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>MATIC</td>
      <td>market</td>
      <td>buy</td>
      <td>MATIC-BTC</td>
      <td>0.00731968</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>SKL</td>
      <td>market</td>
      <td>buy</td>
      <td>SKL-BTC</td>
      <td>0.00708383</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>NU</td>
      <td>market</td>
      <td>buy</td>
      <td>NU-BTC</td>
      <td>0.00165798</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>BAND</td>
      <td>market</td>
      <td>buy</td>
      <td>BAND-BTC</td>
      <td>0.00097099</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>GRT</td>
      <td>market</td>
      <td>buy</td>
      <td>GRT-BTC</td>
      <td>0.00108425</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>NMR</td>
      <td>market</td>
      <td>buy</td>
      <td>NMR-BTC</td>
      <td>0.00034621</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>REP</td>
      <td>market</td>
      <td>buy</td>
      <td>REP-BTC</td>
      <td>0.035096</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>SNX</td>
      <td>market</td>
      <td>buy</td>
      <td>SNX-BTC</td>
      <td>0.00185124</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>MKR</td>
      <td>market</td>
      <td>buy</td>
      <td>MKR-BTC</td>
      <td>0.00188</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>AAVE</td>
      <td>market</td>
      <td>buy</td>
      <td>AAVE-BTC</td>
      <td>0.00424543</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>COMP</td>
      <td>market</td>
      <td>buy</td>
      <td>COMP-BTC</td>
      <td>0.001731</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>YFI</td>
      <td>market</td>
      <td>buy</td>
      <td>YFI-BTC</td>
      <td>0.00135</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>BAL</td>
      <td>market</td>
      <td>buy</td>
      <td>BAL-BTC</td>
      <td>0.00042360</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>UNI</td>
      <td>market</td>
      <td>buy</td>
      <td>UNI-BTC</td>
      <td>0.00037705</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>BNT</td>
      <td>market</td>
      <td>buy</td>
      <td>BNT-BTC</td>
      <td>0.00046562</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>SUSHI</td>
      <td>market</td>
      <td>buy</td>
      <td>SUSHI-BTC</td>
      <td>0.00054809</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ETC</td>
      <td>market</td>
      <td>buy</td>
      <td>ETC-BTC</td>
      <td></td>
      <td>0</td>
      <td>2.61993769</td>
    </tr>
  </tbody>
</table>
<h2>Submitted Orders Responses</h2>
<h3>Sell Orders</h3>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>product_id</th>
      <th>side</th>
      <th>stp</th>
      <th>funds</th>
      <th>specified_funds</th>
      <th>type</th>
      <th>post_only</th>
      <th>created_at</th>
      <th>fill_fees</th>
      <th>filled_size</th>
      <th>executed_value</th>
      <th>status</th>
      <th>settled</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>e7a07da8-c9ea-4495-ae26-1369ef0009f4</td>
      <td>XTZ-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.0160955</td>
      <td>0.01609550</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.452624Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>1810ab64-028d-484f-8b62-e052a65e2d71</td>
      <td>EOS-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.01671</td>
      <td>0.016710</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.750123Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>7a214dfc-ce4a-42c9-8323-74651c6d00a0</td>
      <td>XLM-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.00265733</td>
      <td>0.00265733</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.90304Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>744c5401-0bcb-49b2-94c3-eb50b298af8d</td>
      <td>OMG-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.01956605</td>
      <td>0.01956605</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.487656Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>80d232b2-d1e5-4465-84ce-c770e9cd5527</td>
      <td>LINK-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.00910062</td>
      <td>0.00910062</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.639372Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>b8a93b75-5c82-4cfc-a86d-7517eef02416</td>
      <td>FIL-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.00019247</td>
      <td>0.00019247</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.936288Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>e0bf9877-eb91-4538-8a45-7455fc2e6544</td>
      <td>UMA-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.02385699</td>
      <td>0.02385699</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.110442Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>eaba2c84-5e6b-4377-89c4-ba49596b117f</td>
      <td>KNC-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.00115996</td>
      <td>0.00115996</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.423102Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>a68b750f-0649-4c19-8061-eab6d0a7a2fa</td>
      <td>BCH-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.01186</td>
      <td>0.01186</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.591767Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>15a9886f-7234-4dd1-bda2-e2e9c3102515</td>
      <td>LTC-BTC</td>
      <td>sell</td>
      <td>dc</td>
      <td>0.018337</td>
      <td>0.018337</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.895139Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>5cabb688-b0ee-4fdc-a9d2-ae2fbe412e7d</td>
      <td>BTC-USDC</td>
      <td>sell</td>
      <td>dc</td>
      <td></td>
      <td></td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:34.05345Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td>0.00011505</td>
    </tr>
  </tbody>
</table>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>size</th>
      <th>product_id</th>
      <th>profile_id</th>
      <th>side</th>
      <th>funds</th>
      <th>specified_funds</th>
      <th>type</th>
      <th>post_only</th>
      <th>created_at</th>
      <th>done_at</th>
      <th>done_reason</th>
      <th>fill_fees</th>
      <th>filled_size</th>
      <th>executed_value</th>
      <th>status</th>
      <th>settled</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>e7a07da8-c9ea-4495-ae26-1369ef0009f4</td>
      <td>267.06000000</td>
      <td>XTZ-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0160955000000000</td>
      <td>0.0160955000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.452624Z</td>
      <td>2021-04-10T14:16:31.462Z</td>
      <td>filled</td>
      <td>0.0000563320632000</td>
      <td>149.19000000</td>
      <td>0.0160948752000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>1810ab64-028d-484f-8b62-e052a65e2d71</td>
      <td>277.80000000</td>
      <td>EOS-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0167100000000000</td>
      <td>0.0167100000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.750123Z</td>
      <td>2021-04-10T14:16:31.761Z</td>
      <td>filled</td>
      <td>0.0000584696000000</td>
      <td>157.60000000</td>
      <td>0.0167056000000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>7a214dfc-ce4a-42c9-8323-74651c6d00a0</td>
      <td>3036.00000000</td>
      <td>XLM-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0026573300000000</td>
      <td>0.0026573300000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:31.90304Z</td>
      <td>2021-04-10T14:16:31.91Z</td>
      <td>filled</td>
      <td>0.0000092993600000</td>
      <td>304.00000000</td>
      <td>0.0026569600000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>744c5401-0bcb-49b2-94c3-eb50b298af8d</td>
      <td>175.80000000</td>
      <td>OMG-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0195660500000000</td>
      <td>0.0195660500000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.487656Z</td>
      <td>2021-04-10T14:16:32.495Z</td>
      <td>filled</td>
      <td>0.0000684809280400</td>
      <td>118.51800000</td>
      <td>0.0195659794400000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>80d232b2-d1e5-4465-84ce-c770e9cd5527</td>
      <td>53.04000000</td>
      <td>LINK-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0091006200000000</td>
      <td>0.0091006200000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.639372Z</td>
      <td>2021-04-10T14:16:32.649Z</td>
      <td>filled</td>
      <td>0.0000318402896000</td>
      <td>17.12000000</td>
      <td>0.0090972256000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>b8a93b75-5c82-4cfc-a86d-7517eef02416</td>
      <td>1.35100000</td>
      <td>FIL-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0001924700000000</td>
      <td>0.0001924700000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:32.936288Z</td>
      <td>2021-04-10T14:16:32.954Z</td>
      <td>filled</td>
      <td>0.0000006650672000</td>
      <td>0.06400000</td>
      <td>0.0001900192000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>e0bf9877-eb91-4538-8a45-7455fc2e6544</td>
      <td>61.24000000</td>
      <td>UMA-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0238569900000000</td>
      <td>0.0238569900000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.110442Z</td>
      <td>2021-04-10T14:16:33.12Z</td>
      <td>filled</td>
      <td>0.0000834994262200</td>
      <td>51.99800000</td>
      <td>0.0238569789200000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>eaba2c84-5e6b-4377-89c4-ba49596b117f</td>
      <td>51.90000000</td>
      <td>KNC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0011599600000000</td>
      <td>0.0011599600000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.423102Z</td>
      <td>2021-04-10T14:16:33.431Z</td>
      <td>filled</td>
      <td>0.0000040499795000</td>
      <td>16.30000000</td>
      <td>0.0011571370000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>a68b750f-0649-4c19-8061-eab6d0a7a2fa</td>
      <td>2.63388735</td>
      <td>BCH-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0118600000000000</td>
      <td>0.0118600000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.591767Z</td>
      <td>2021-04-10T14:16:33.599Z</td>
      <td>filled</td>
      <td>0.0000415099998915</td>
      <td>1.08310502</td>
      <td>0.0118599999690000</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>15a9886f-7234-4dd1-bda2-e2e9c3102515</td>
      <td>9.21204986</td>
      <td>LTC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td>0.0183370000000000</td>
      <td>0.0183370000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:33.895139Z</td>
      <td>2021-04-10T14:16:33.905Z</td>
      <td>filled</td>
      <td>0.0000641794999575</td>
      <td>4.78023983</td>
      <td>0.0183369999878800</td>
      <td>done</td>
      <td>True</td>
    </tr>
    <tr>
      <td>5cabb688-b0ee-4fdc-a9d2-ae2fbe412e7d</td>
      <td>0.00011505</td>
      <td>BTC-USDC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>sell</td>
      <td></td>
      <td></td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:34.05345Z</td>
      <td>2021-04-10T14:16:34.06Z</td>
      <td>filled</td>
      <td>0.0243126265882500</td>
      <td>0.00011505</td>
      <td>6.9464647395000000</td>
      <td>done</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
<h3>Buy Orders</h3>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>product_id</th>
      <th>side</th>
      <th>stp</th>
      <th>funds</th>
      <th>specified_funds</th>
      <th>type</th>
      <th>post_only</th>
      <th>created_at</th>
      <th>fill_fees</th>
      <th>filled_size</th>
      <th>executed_value</th>
      <th>status</th>
      <th>settled</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5a8207fd-2ff7-4aa4-bd6d-26024c485844</td>
      <td>ETH-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.03763826</td>
      <td>0.03777</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:37.682689Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>06499fad-89d4-4f25-b762-178c78a94734</td>
      <td>ALGO-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00998232</td>
      <td>0.01001726</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:37.842679Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>e10040e2-f5c1-46a7-86a1-a5b202e56e1f</td>
      <td>ADA-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.01269187</td>
      <td>0.01273630</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.161516Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>67fe7bdb-ee55-4e3b-b428-e8881ac0cd11</td>
      <td>CGLD-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00237606</td>
      <td>0.00238438</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.320876Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>cc804889-1db1-446d-ad53-dbc57e533770</td>
      <td>DASH-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00198242</td>
      <td>0.00198936</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.893172Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>f1b6f7e8-b8de-4117-bf13-b1f89596a086</td>
      <td>ZEC-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00179471</td>
      <td>0.001801</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.038879Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>68aed0fa-c84c-43f0-95f4-874da2cb0f25</td>
      <td>ATOM-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.0165979</td>
      <td>0.016656</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.349778Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>2324e135-df88-4d3e-bdaa-05feae6888be</td>
      <td>REN-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.01652522</td>
      <td>0.01658306</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.511049Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>f9400777-d7cd-4b33-a798-c4a3b1548585</td>
      <td>LRC-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00633918</td>
      <td>0.00636137</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.847698Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>a7d8ec4e-f347-404b-8285-612c54cb4d05</td>
      <td>MATIC-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00729415</td>
      <td>0.00731968</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.00162Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>5b2be245-18f5-4d22-b521-0180278c4f6f</td>
      <td>SKL-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00705912</td>
      <td>0.00708383</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.558947Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>ef90c2e5-53c0-409d-8977-87be18b15190</td>
      <td>NU-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00165219</td>
      <td>0.00165798</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.734596Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>e8e52ca7-b6b3-4b51-bf73-3c117debafaf</td>
      <td>BAND-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.0009676</td>
      <td>0.00097099</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.019354Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>80e833ae-61b0-4d8e-8a1f-2b2791912aec</td>
      <td>GRT-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00108046</td>
      <td>0.00108425</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.220192Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>750689be-4e92-49a0-9c7d-e7e5c7774ab7</td>
      <td>NMR-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.000345</td>
      <td>0.00034621</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.495321Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>2d829127-6df3-4c20-9302-21af1213bb6d</td>
      <td>REP-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.03497359</td>
      <td>0.035096</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.689503Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>192a016a-e92c-4edf-97a7-957ceb492c07</td>
      <td>SNX-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00184478</td>
      <td>0.00185124</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.958733Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>fc665e99-aa6c-4e2a-803b-8d8d7852d154</td>
      <td>MKR-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00187344</td>
      <td>0.00188</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.156207Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>9da1296e-0c0e-4598-a697-6f64d8d144bd</td>
      <td>AAVE-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00423062</td>
      <td>0.00424543</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.677678Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>40644809-9d3d-4bd7-bfcc-f899b58437b5</td>
      <td>COMP-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00172496</td>
      <td>0.001731</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.825885Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>1a5e9bb9-2fd8-45e3-97d4-42987b1db358</td>
      <td>YFI-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00134529</td>
      <td>0.00135</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.137944Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>91adeec6-4c79-4793-83e5-9b65028de056</td>
      <td>BAL-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00042212</td>
      <td>0.00042360</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.287761Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>8ce36e35-91d2-458b-8a3d-86c9e26e1894</td>
      <td>UNI-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00037573</td>
      <td>0.00037705</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.855839Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>441bb5ef-a4ac-4547-8136-3ee00696b68a</td>
      <td>BNT-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00046399</td>
      <td>0.00046562</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.022185Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>37baf9d6-000b-429b-bc85-32734572cc94</td>
      <td>SUSHI-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.00054617</td>
      <td>0.00054809</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.30788Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td></td>
    </tr>
    <tr>
      <td>01c31c0f-0775-42a7-a2f9-60af74879058</td>
      <td>ETC-BTC</td>
      <td>buy</td>
      <td>dc</td>
      <td>0.17825743</td>
      <td></td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.474375Z</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>pending</td>
      <td>False</td>
      <td>2.61993769</td>
    </tr>
  </tbody>
</table>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>product_id</th>
      <th>profile_id</th>
      <th>side</th>
      <th>funds</th>
      <th>specified_funds</th>
      <th>type</th>
      <th>post_only</th>
      <th>created_at</th>
      <th>done_at</th>
      <th>done_reason</th>
      <th>fill_fees</th>
      <th>filled_size</th>
      <th>executed_value</th>
      <th>status</th>
      <th>settled</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5a8207fd-2ff7-4aa4-bd6d-26024c485844</td>
      <td>ETH-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0376382600000000</td>
      <td>0.0377700000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:37.682689Z</td>
      <td>2021-04-10T14:16:37.693Z</td>
      <td>filled</td>
      <td>0.0001317339091005</td>
      <td>1.05429299</td>
      <td>0.0376382597430000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>06499fad-89d4-4f25-b762-178c78a94734</td>
      <td>ALGO-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0099823200000000</td>
      <td>0.0100172600000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:37.842679Z</td>
      <td>2021-04-10T14:16:37.852Z</td>
      <td>filled</td>
      <td>0.0000349341300000</td>
      <td>426.00000000</td>
      <td>0.0099811800000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>e10040e2-f5c1-46a7-86a1-a5b202e56e1f</td>
      <td>ADA-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0126918700000000</td>
      <td>0.0127363000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.161516Z</td>
      <td>2021-04-10T14:16:38.174Z</td>
      <td>filled</td>
      <td>0.0000444214134000</td>
      <td>625.83000000</td>
      <td>0.0126918324000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>67fe7bdb-ee55-4e3b-b428-e8881ac0cd11</td>
      <td>CGLD-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0023760600000000</td>
      <td>0.0023843800000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.320876Z</td>
      <td>2021-04-10T14:16:38.33Z</td>
      <td>filled</td>
      <td>0.0000083154802500</td>
      <td>32.93000000</td>
      <td>0.0023758515000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>cc804889-1db1-446d-ad53-dbc57e533770</td>
      <td>DASH-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0019824200000000</td>
      <td>0.0019893600000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:38.893172Z</td>
      <td>2021-04-10T14:16:38.903Z</td>
      <td>filled</td>
      <td>0.0000069384699994</td>
      <td>0.44471314</td>
      <td>0.0019824199998350</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>f1b6f7e8-b8de-4117-bf13-b1f89596a086</td>
      <td>ZEC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0017947100000000</td>
      <td>0.0018010000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.038879Z</td>
      <td>2021-04-10T14:16:39.048Z</td>
      <td>filled</td>
      <td>0.0000062804084000</td>
      <td>0.54310000</td>
      <td>0.0017944024000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>68aed0fa-c84c-43f0-95f4-874da2cb0f25</td>
      <td>ATOM-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0165979000000000</td>
      <td>0.0166560000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.349778Z</td>
      <td>2021-04-10T14:16:39.359Z</td>
      <td>filled</td>
      <td>0.0000579946500000</td>
      <td>45.90000000</td>
      <td>0.0165699000000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>2324e135-df88-4d3e-bdaa-05feae6888be</td>
      <td>REN-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0165252200000000</td>
      <td>0.0165830600000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.511049Z</td>
      <td>2021-04-10T14:16:39.52Z</td>
      <td>filled</td>
      <td>0.0000578340000000</td>
      <td>918.00000000</td>
      <td>0.0165240000000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>f9400777-d7cd-4b33-a798-c4a3b1548585</td>
      <td>LRC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0063391800000000</td>
      <td>0.0063613700000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:39.847698Z</td>
      <td>2021-04-10T14:16:39.855Z</td>
      <td>filled</td>
      <td>0.0000221574500000</td>
      <td>678.00000000</td>
      <td>0.0063307000000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>a7d8ec4e-f347-404b-8285-612c54cb4d05</td>
      <td>MATIC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0072941500000000</td>
      <td>0.0073196800000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.00162Z</td>
      <td>2021-04-10T14:16:40.009Z</td>
      <td>filled</td>
      <td>0.0000255274880000</td>
      <td>1199.60000000</td>
      <td>0.0072935680000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>5b2be245-18f5-4d22-b521-0180278c4f6f</td>
      <td>SKL-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0070591200000000</td>
      <td>0.0070838300000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.558947Z</td>
      <td>2021-04-10T14:16:40.569Z</td>
      <td>filled</td>
      <td>0.0000247031680000</td>
      <td>587.40000000</td>
      <td>0.0070580480000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>ef90c2e5-53c0-409d-8977-87be18b15190</td>
      <td>NU-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0016521900000000</td>
      <td>0.0016579800000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:40.734596Z</td>
      <td>2021-04-10T14:16:40.744Z</td>
      <td>filled</td>
      <td>0.0000057774500000</td>
      <td>170.00000000</td>
      <td>0.0016507000000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>e8e52ca7-b6b3-4b51-bf73-3c117debafaf</td>
      <td>BAND-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0009676000000000</td>
      <td>0.0009709900000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.019354Z</td>
      <td>2021-04-10T14:16:41.028Z</td>
      <td>filled</td>
      <td>0.0000033819803500</td>
      <td>3.37000000</td>
      <td>0.0009662801000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>80e833ae-61b0-4d8e-8a1f-2b2791912aec</td>
      <td>GRT-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0010804600000000</td>
      <td>0.0010842500000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.220192Z</td>
      <td>2021-04-10T14:16:41.23Z</td>
      <td>filled</td>
      <td>0.0000037815939000</td>
      <td>34.17000000</td>
      <td>0.0010804554000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>750689be-4e92-49a0-9c7d-e7e5c7774ab7</td>
      <td>NMR-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0003450000000000</td>
      <td>0.0003462100000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.495321Z</td>
      <td>2021-04-10T14:16:41.503Z</td>
      <td>filled</td>
      <td>0.0000012070902550</td>
      <td>0.27900000</td>
      <td>0.0003448829300000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>2d829127-6df3-4c20-9302-21af1213bb6d</td>
      <td>REP-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0349735900000000</td>
      <td>0.0350960000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.689503Z</td>
      <td>2021-04-10T14:16:41.7Z</td>
      <td>filled</td>
      <td>0.0001224075624275</td>
      <td>40.62304700</td>
      <td>0.0349735892650000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>192a016a-e92c-4edf-97a7-957ceb492c07</td>
      <td>SNX-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0018447800000000</td>
      <td>0.0018512400000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:41.958733Z</td>
      <td>2021-04-10T14:16:41.968Z</td>
      <td>filled</td>
      <td>0.0000064454936000</td>
      <td>5.68000000</td>
      <td>0.0018415696000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>fc665e99-aa6c-4e2a-803b-8d8d7852d154</td>
      <td>MKR-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0018734400000000</td>
      <td>0.0018800000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.156207Z</td>
      <td>2021-04-10T14:16:42.163Z</td>
      <td>filled</td>
      <td>0.0000065569445200</td>
      <td>0.04922300</td>
      <td>0.0018734127200000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>9da1296e-0c0e-4598-a697-6f64d8d144bd</td>
      <td>AAVE-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0042306200000000</td>
      <td>0.0042454300000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.677678Z</td>
      <td>2021-04-10T14:16:42.688Z</td>
      <td>filled</td>
      <td>0.0000147994778400</td>
      <td>0.68400000</td>
      <td>0.0042284222400000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>40644809-9d3d-4bd7-bfcc-f899b58437b5</td>
      <td>COMP-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0017249600000000</td>
      <td>0.0017310000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:42.825885Z</td>
      <td>2021-04-10T14:16:42.836Z</td>
      <td>filled</td>
      <td>0.0000060152960000</td>
      <td>0.23200000</td>
      <td>0.0017186560000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>1a5e9bb9-2fd8-45e3-97d4-42987b1db358</td>
      <td>YFI-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0013452900000000</td>
      <td>0.0013500000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.137944Z</td>
      <td>2021-04-10T14:16:43.145Z</td>
      <td>filled</td>
      <td>0.0000047078994200</td>
      <td>0.00181900</td>
      <td>0.0013451141200000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>91adeec6-4c79-4793-83e5-9b65028de056</td>
      <td>BAL-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0004221200000000</td>
      <td>0.0004236000000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.287761Z</td>
      <td>2021-04-10T14:16:43.297Z</td>
      <td>filled</td>
      <td>0.0000014748485500</td>
      <td>0.49000000</td>
      <td>0.0004213853000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>8ce36e35-91d2-458b-8a3d-86c9e26e1894</td>
      <td>UNI-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0003757300000000</td>
      <td>0.0003770500000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:43.855839Z</td>
      <td>2021-04-10T14:16:43.866Z</td>
      <td>filled</td>
      <td>0.0000013150546885</td>
      <td>0.75894300</td>
      <td>0.0003757299110100</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>441bb5ef-a4ac-4547-8136-3ee00696b68a</td>
      <td>BNT-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0004639900000000</td>
      <td>0.0004656200000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.022185Z</td>
      <td>2021-04-10T14:16:44.031Z</td>
      <td>filled</td>
      <td>0.0000012579000000</td>
      <td>3.00000000</td>
      <td>0.0003594000000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>37baf9d6-000b-429b-bc85-32734572cc94</td>
      <td>SUSHI-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.0005461700000000</td>
      <td>0.0005480900000000</td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.30788Z</td>
      <td>2021-04-10T14:16:44.316Z</td>
      <td>filled</td>
      <td>0.0000019085451000</td>
      <td>2.22000000</td>
      <td>0.0005452986000000</td>
      <td>done</td>
      <td>True</td>
      <td></td>
    </tr>
    <tr>
      <td>01c31c0f-0775-42a7-a2f9-60af74879058</td>
      <td>ETC-BTC</td>
      <td>4d1aeb80-a44a-4ecd-b2b0-be76a6fbc7be</td>
      <td>buy</td>
      <td>0.1782574300000000</td>
      <td></td>
      <td>market</td>
      <td>False</td>
      <td>2021-04-10T14:16:44.474375Z</td>
      <td>2021-04-10T14:16:44.485Z</td>
      <td>filled</td>
      <td>0.0000029526697766</td>
      <td>2.61993769</td>
      <td>0.0008436199361800</td>
      <td>done</td>
      <td>True</td>
      <td>2.61993769</td>
    </tr>
  </tbody>
</table>
