<h1>Rebalance Report 2021-04-10 16:18:47.190358</h1>
<h2>Config</h2>
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>asset</th>
      <td>BTC</td>
      <td>ETH</td>
      <td>ALGO</td>
      <td>ADA</td>
      <td>XTZ</td>
      <td>EOS</td>
      <td>XLM</td>
      <td>CGLD</td>
      <td>DASH</td>
      <td>ZEC</td>
      <td>ATOM</td>
      <td>REN</td>
      <td>OMG</td>
      <td>LRC</td>
      <td>MATIC</td>
      <td>SKL</td>
      <td>LINK</td>
      <td>FIL</td>
      <td>NU</td>
      <td>BAND</td>
      <td>GRT</td>
      <td>NMR</td>
      <td>REP</td>
      <td>SNX</td>
      <td>UMA</td>
      <td>MKR</td>
      <td>AAVE</td>
      <td>COMP</td>
      <td>YFI</td>
      <td>BAL</td>
      <td>UNI</td>
      <td>BNT</td>
      <td>SUSHI</td>
      <td>KNC</td>
      <td>BCH</td>
      <td>LTC</td>
      <td>ETC</td>
      <td>USDC</td>
    </tr>
    <tr>
      <th>alloc</th>
      <td>24.89</td>
      <td>10.67</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>3.33</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>2.67</td>
      <td>2.67</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>2.67</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>5.33</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>2.37</td>
      <td>2.37</td>
      <td>0.59</td>
      <td>20.00</td>
    </tr>
  </tbody>
</table>
<h2>Portfolio</h2>
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>asset</th>
      <td>BTC</td>
      <td>ETH</td>
      <td>ALGO</td>
      <td>ADA</td>
      <td>XTZ</td>
      <td>EOS</td>
      <td>XLM</td>
      <td>CGLD</td>
      <td>DASH</td>
      <td>ZEC</td>
      <td>ATOM</td>
      <td>REN</td>
      <td>OMG</td>
      <td>LRC</td>
      <td>MATIC</td>
      <td>SKL</td>
      <td>LINK</td>
      <td>FIL</td>
      <td>NU</td>
      <td>BAND</td>
      <td>GRT</td>
      <td>NMR</td>
      <td>REP</td>
      <td>SNX</td>
      <td>UMA</td>
      <td>MKR</td>
      <td>AAVE</td>
      <td>COMP</td>
      <td>YFI</td>
      <td>BAL</td>
      <td>UNI</td>
      <td>BNT</td>
      <td>SUSHI</td>
      <td>KNC</td>
      <td>BCH</td>
      <td>LTC</td>
      <td>ETC</td>
      <td>USDC</td>
      <td></td>
    </tr>
    <tr>
      <th>relative_percent_diff</th>
      <td>-0.03</td>
      <td>-0.05</td>
      <td>0.03</td>
      <td>0.22</td>
      <td>-0.16</td>
      <td>-0.22</td>
      <td>-0.30</td>
      <td>0.11</td>
      <td>-0.03</td>
      <td>-0.13</td>
      <td>0.51</td>
      <td>0.13</td>
      <td>0.76</td>
      <td>0.08</td>
      <td>0.05</td>
      <td>0.19</td>
      <td>-0.16</td>
      <td>-0.45</td>
      <td>0.20</td>
      <td>0.02</td>
      <td>-0.30</td>
      <td>-0.61</td>
      <td>0.33</td>
      <td>-0.11</td>
      <td>-0.01</td>
      <td>-0.07</td>
      <td>0.32</td>
      <td>-0.09</td>
      <td>-0.02</td>
      <td>-0.05</td>
      <td>-0.08</td>
      <td>4.28</td>
      <td>0.10</td>
      <td>4.42</td>
      <td>-0.18</td>
      <td>-0.47</td>
      <td>-0.50</td>
      <td>-0.12</td>
      <td>4.42</td>
    </tr>
    <tr>
      <th>global_percent_diff</th>
      <td>-0.01</td>
      <td>-0.01</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>-0.01</td>
      <td>0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>0.01</td>
      <td>0.00</td>
      <td>0.01</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>-0.00</td>
      <td>0.01</td>
      <td>0.00</td>
      <td>0.02</td>
      <td>-0.00</td>
      <td>-0.01</td>
      <td>-0.00</td>
      <td>-0.02</td>
      <td>0.13</td>
    </tr>
    <tr>
      <th>current_percent</th>
      <td>24.90</td>
      <td>10.67</td>
      <td>1.78</td>
      <td>1.77</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>3.34</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>2.65</td>
      <td>2.66</td>
      <td>1.32</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>2.67</td>
      <td>0.54</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.54</td>
      <td>5.32</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.34</td>
      <td>0.36</td>
      <td>0.34</td>
      <td>2.37</td>
      <td>2.38</td>
      <td>0.60</td>
      <td>20.02</td>
      <td>99.98</td>
    </tr>
    <tr>
      <th>target_percent</th>
      <td>24.89</td>
      <td>10.67</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>1.78</td>
      <td>3.33</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>0.67</td>
      <td>2.67</td>
      <td>2.67</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>1.33</td>
      <td>2.67</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>0.53</td>
      <td>5.33</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.59</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>2.37</td>
      <td>2.37</td>
      <td>0.59</td>
      <td>20.00</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>price_btc</th>
      <td>1.00000000</td>
      <td>0.03570000</td>
      <td>0.00002345</td>
      <td>0.00002027</td>
      <td>0.00010803</td>
      <td>0.00010600</td>
      <td>0.00000875</td>
      <td>0.00007201</td>
      <td>0.00445681</td>
      <td>0.00330500</td>
      <td>0.00036000</td>
      <td>0.00001800</td>
      <td>0.00016509</td>
      <td>0.00000934</td>
      <td>0.00000608</td>
      <td>0.00001200</td>
      <td>0.00053172</td>
      <td>0.00297676</td>
      <td>0.00000968</td>
      <td>0.00028649</td>
      <td>0.00003161</td>
      <td>0.00124140</td>
      <td>0.00085900</td>
      <td>0.00032442</td>
      <td>0.00045857</td>
      <td>0.03806000</td>
      <td>0.00617539</td>
      <td>0.00741500</td>
      <td>0.73830000</td>
      <td>0.00085945</td>
      <td>0.00049470</td>
      <td>0.00011976</td>
      <td>0.00024541</td>
      <td>0.00006840</td>
      <td>0.01095000</td>
      <td>0.00384300</td>
      <td>0.00032200</td>
      <td>0.00001655</td>
      <td></td>
    </tr>
    <tr>
      <th>price_usdc</th>
      <td>60436.63</td>
      <td>2157.59</td>
      <td>1.42</td>
      <td>1.23</td>
      <td>6.53</td>
      <td>6.41</td>
      <td>0.53</td>
      <td>4.35</td>
      <td>269.35</td>
      <td>199.74</td>
      <td>21.76</td>
      <td>1.09</td>
      <td>9.98</td>
      <td>0.56</td>
      <td>0.37</td>
      <td>0.73</td>
      <td>32.14</td>
      <td>179.91</td>
      <td>0.59</td>
      <td>17.31</td>
      <td>1.91</td>
      <td>75.03</td>
      <td>51.92</td>
      <td>19.61</td>
      <td>27.71</td>
      <td>2300.22</td>
      <td>373.22</td>
      <td>448.14</td>
      <td>44620.36</td>
      <td>51.94</td>
      <td>29.90</td>
      <td>7.24</td>
      <td>14.83</td>
      <td>4.13</td>
      <td>661.78</td>
      <td>232.26</td>
      <td>19.46</td>
      <td>1.00</td>
      <td></td>
    </tr>
    <tr>
      <th>current_value_btc</th>
      <td>0.17803476</td>
      <td>0.07631802</td>
      <td>0.01270990</td>
      <td>0.01268557</td>
      <td>0.01273350</td>
      <td>0.01274120</td>
      <td>0.02390827</td>
      <td>0.00476202</td>
      <td>0.00476902</td>
      <td>0.00477356</td>
      <td>0.01897200</td>
      <td>0.01904400</td>
      <td>0.00946246</td>
      <td>0.00952680</td>
      <td>0.00952979</td>
      <td>0.00951720</td>
      <td>0.01909938</td>
      <td>0.00383109</td>
      <td>0.00380627</td>
      <td>0.00381318</td>
      <td>0.00382544</td>
      <td>0.00383717</td>
      <td>0.03801523</td>
      <td>0.00424244</td>
      <td>0.00423810</td>
      <td>0.00424076</td>
      <td>0.00422397</td>
      <td>0.00424138</td>
      <td>0.00423858</td>
      <td>0.00254397</td>
      <td>0.00254470</td>
      <td>0.00243832</td>
      <td>0.00253999</td>
      <td>0.00243504</td>
      <td>0.01698107</td>
      <td>0.01703145</td>
      <td>0.00425914</td>
      <td>0.14319648</td>
      <td>0.71511122</td>
    </tr>
    <tr>
      <th>target_value_btc</th>
      <td>0.17798324</td>
      <td>0.07627853</td>
      <td>0.01271309</td>
      <td>0.01271309</td>
      <td>0.01271309</td>
      <td>0.01271309</td>
      <td>0.02383704</td>
      <td>0.00476741</td>
      <td>0.00476741</td>
      <td>0.00476741</td>
      <td>0.01906963</td>
      <td>0.01906963</td>
      <td>0.00953482</td>
      <td>0.00953482</td>
      <td>0.00953482</td>
      <td>0.00953482</td>
      <td>0.01906963</td>
      <td>0.00381393</td>
      <td>0.00381393</td>
      <td>0.00381393</td>
      <td>0.00381393</td>
      <td>0.00381393</td>
      <td>0.03813927</td>
      <td>0.00423770</td>
      <td>0.00423770</td>
      <td>0.00423770</td>
      <td>0.00423770</td>
      <td>0.00423770</td>
      <td>0.00423770</td>
      <td>0.00254262</td>
      <td>0.00254262</td>
      <td>0.00254262</td>
      <td>0.00254262</td>
      <td>0.00254262</td>
      <td>0.01695078</td>
      <td>0.01695078</td>
      <td>0.00423770</td>
      <td>0.14302224</td>
      <td>0.71511129</td>
    </tr>
    <tr>
      <th>diff_btc</th>
      <td>-0.00005152</td>
      <td>-0.00003949</td>
      <td>0.00000319</td>
      <td>0.00002752</td>
      <td>-0.00002041</td>
      <td>-0.00002811</td>
      <td>-0.00007123</td>
      <td>0.00000539</td>
      <td>-0.00000161</td>
      <td>-0.00000615</td>
      <td>0.00009763</td>
      <td>0.00002563</td>
      <td>0.00007236</td>
      <td>0.00000802</td>
      <td>0.00000503</td>
      <td>0.00001762</td>
      <td>-0.00002975</td>
      <td>-0.00001716</td>
      <td>0.00000766</td>
      <td>7.5E-7</td>
      <td>-0.00001151</td>
      <td>-0.00002324</td>
      <td>0.00012404</td>
      <td>-0.00000474</td>
      <td>-4.0E-7</td>
      <td>-0.00000306</td>
      <td>0.00001373</td>
      <td>-0.00000368</td>
      <td>-8.8E-7</td>
      <td>-0.00000135</td>
      <td>-0.00000208</td>
      <td>0.00010430</td>
      <td>0.00000263</td>
      <td>0.00010758</td>
      <td>-0.00003029</td>
      <td>-0.00008067</td>
      <td>-0.00002144</td>
      <td>-0.00017424</td>
      <td>7E-8</td>
    </tr>
    <tr>
      <th>current_value_usdc</th>
      <td>10759.82</td>
      <td>4612.40</td>
      <td>768.14</td>
      <td>766.67</td>
      <td>769.57</td>
      <td>770.04</td>
      <td>1444.94</td>
      <td>287.80</td>
      <td>288.22</td>
      <td>288.50</td>
      <td>1146.60</td>
      <td>1150.96</td>
      <td>571.88</td>
      <td>575.77</td>
      <td>575.95</td>
      <td>575.19</td>
      <td>1154.30</td>
      <td>231.54</td>
      <td>230.04</td>
      <td>230.46</td>
      <td>231.20</td>
      <td>231.91</td>
      <td>2297.51</td>
      <td>256.40</td>
      <td>256.14</td>
      <td>256.30</td>
      <td>255.28</td>
      <td>256.33</td>
      <td>256.17</td>
      <td>153.75</td>
      <td>153.79</td>
      <td>147.36</td>
      <td>153.51</td>
      <td>147.17</td>
      <td>1026.28</td>
      <td>1029.32</td>
      <td>257.41</td>
      <td>8654.31</td>
      <td>43218.93</td>
    </tr>
    <tr>
      <th>target_value_usdc</th>
      <td>10756.71</td>
      <td>4610.02</td>
      <td>768.34</td>
      <td>768.34</td>
      <td>768.34</td>
      <td>768.34</td>
      <td>1440.63</td>
      <td>288.13</td>
      <td>288.13</td>
      <td>288.13</td>
      <td>1152.50</td>
      <td>1152.50</td>
      <td>576.25</td>
      <td>576.25</td>
      <td>576.25</td>
      <td>576.25</td>
      <td>1152.50</td>
      <td>230.50</td>
      <td>230.50</td>
      <td>230.50</td>
      <td>230.50</td>
      <td>230.50</td>
      <td>2305.01</td>
      <td>256.11</td>
      <td>256.11</td>
      <td>256.11</td>
      <td>256.11</td>
      <td>256.11</td>
      <td>256.11</td>
      <td>153.67</td>
      <td>153.67</td>
      <td>153.67</td>
      <td>153.67</td>
      <td>153.67</td>
      <td>1024.45</td>
      <td>1024.45</td>
      <td>256.11</td>
      <td>8643.78</td>
      <td>43218.92</td>
    </tr>
    <tr>
      <th>diff_usdc</th>
      <td>-3.11</td>
      <td>-2.38</td>
      <td>0.20</td>
      <td>1.67</td>
      <td>-1.23</td>
      <td>-1.70</td>
      <td>-4.31</td>
      <td>0.33</td>
      <td>-0.09</td>
      <td>-0.37</td>
      <td>5.90</td>
      <td>1.54</td>
      <td>4.37</td>
      <td>0.48</td>
      <td>0.30</td>
      <td>1.06</td>
      <td>-1.80</td>
      <td>-1.04</td>
      <td>0.46</td>
      <td>0.04</td>
      <td>-0.70</td>
      <td>-1.41</td>
      <td>7.50</td>
      <td>-0.29</td>
      <td>-0.03</td>
      <td>-0.19</td>
      <td>0.83</td>
      <td>-0.22</td>
      <td>-0.06</td>
      <td>-0.08</td>
      <td>-0.12</td>
      <td>6.31</td>
      <td>0.16</td>
      <td>6.50</td>
      <td>-1.83</td>
      <td>-4.87</td>
      <td>-1.30</td>
      <td>-10.53</td>
      <td>-0.01</td>
    </tr>
    <tr>
      <th>current_qty</th>
      <td>0.17803476</td>
      <td>2.13775977</td>
      <td>542.000000</td>
      <td>625.8</td>
      <td>117.870000</td>
      <td>120.2000</td>
      <td>2732.3733600</td>
      <td>66.13</td>
      <td>1.07005247</td>
      <td>1.44434512</td>
      <td>52.700000</td>
      <td>1058.0</td>
      <td>57.31700000</td>
      <td>1020</td>
      <td>1567.4</td>
      <td>793.1</td>
      <td>35.92000000</td>
      <td>1.287</td>
      <td>393.210031</td>
      <td>13.31</td>
      <td>121.02</td>
      <td>3.091</td>
      <td>44.25522000</td>
      <td>13.077</td>
      <td>9.242</td>
      <td>0.1114</td>
      <td>0.684</td>
      <td>0.572</td>
      <td>0.005741</td>
      <td>2.96</td>
      <td>5.143919</td>
      <td>20.360017</td>
      <td>10.35</td>
      <td>35.60000000</td>
      <td>1.55078233</td>
      <td>4.43181003</td>
      <td>13.22714966</td>
      <td>8652.355084</td>
      <td></td>
    </tr>
    <tr>
      <th>target_qty</th>
      <td>0.17798324</td>
      <td>2.13665351</td>
      <td>542.135964</td>
      <td>627.2</td>
      <td>117.681092</td>
      <td>119.9348</td>
      <td>2724.2332190</td>
      <td>66.20</td>
      <td>1.06969068</td>
      <td>1.44248355</td>
      <td>52.971201</td>
      <td>1059.4</td>
      <td>57.75526238</td>
      <td>1021</td>
      <td>1568.2</td>
      <td>794.6</td>
      <td>35.86404975</td>
      <td>1.281</td>
      <td>394.000672</td>
      <td>13.31</td>
      <td>120.66</td>
      <td>3.072</td>
      <td>44.39961009</td>
      <td>13.062</td>
      <td>9.241</td>
      <td>0.1113</td>
      <td>0.686</td>
      <td>0.572</td>
      <td>0.005740</td>
      <td>2.96</td>
      <td>5.139716</td>
      <td>21.230942</td>
      <td>10.36</td>
      <td>37.17277297</td>
      <td>1.54801685</td>
      <td>4.41082084</td>
      <td>13.16054695</td>
      <td>8641.827432</td>
      <td></td>
    </tr>
    <tr>
      <th>diff_qty</th>
      <td>-0.00005152</td>
      <td>-0.00110626</td>
      <td>0.135964</td>
      <td>1.4</td>
      <td>-0.188908</td>
      <td>-0.2652</td>
      <td>-8.1401410</td>
      <td>0.07</td>
      <td>-0.00036179</td>
      <td>-0.00186157</td>
      <td>0.271201</td>
      <td>1.4</td>
      <td>0.43826238</td>
      <td>1</td>
      <td>0.8</td>
      <td>1.5</td>
      <td>-0.05595025</td>
      <td>-0.006</td>
      <td>0.790641</td>
      <td>0.00</td>
      <td>-0.36</td>
      <td>-0.019</td>
      <td>0.14439009</td>
      <td>-0.015</td>
      <td>-0.001</td>
      <td>-0.0001</td>
      <td>0.002</td>
      <td>0.000</td>
      <td>-0.000001</td>
      <td>0.00</td>
      <td>-0.004203</td>
      <td>0.870925</td>
      <td>0.01</td>
      <td>1.57277297</td>
      <td>-0.00276548</td>
      <td>-0.02098919</td>
      <td>-0.06660271</td>
      <td>-10.527652</td>
      <td></td>
    </tr>
  </tbody>
</table>
<h2>Rebalance Orders</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>asset</th>
      <th>product</th>
      <th>side</th>
      <th>pivot_asset_qty</th>
      <th>asset_qty</th>
      <th>usdc_qty</th>
      <th>usdc_fees</th>
      <th>fees_portfolio_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ETH</td>
      <td>ETH-BTC</td>
      <td>SELL</td>
      <td>0.00003949</td>
      <td>0.00110626</td>
      <td>2.39</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>XTZ</td>
      <td>XTZ-BTC</td>
      <td>SELL</td>
      <td>0.00002041</td>
      <td>0.188908</td>
      <td>1.23</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>EOS</td>
      <td>EOS-BTC</td>
      <td>SELL</td>
      <td>0.00002811</td>
      <td>0.2652</td>
      <td>1.70</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>XLM</td>
      <td>XLM-BTC</td>
      <td>SELL</td>
      <td>0.00007123</td>
      <td>8.1401410</td>
      <td>4.30</td>
      <td>0.02</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>DASH</td>
      <td>DASH-BTC</td>
      <td>SELL</td>
      <td>0.00000161</td>
      <td>0.00036179</td>
      <td>0.10</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>ZEC</td>
      <td>ZEC-BTC</td>
      <td>SELL</td>
      <td>0.00000615</td>
      <td>0.00186157</td>
      <td>0.37</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>LINK</td>
      <td>LINK-BTC</td>
      <td>SELL</td>
      <td>0.00002975</td>
      <td>0.05595025</td>
      <td>1.80</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>FIL</td>
      <td>FIL-BTC</td>
      <td>SELL</td>
      <td>0.00001716</td>
      <td>0.006</td>
      <td>1.04</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>GRT</td>
      <td>GRT-BTC</td>
      <td>SELL</td>
      <td>0.00001151</td>
      <td>0.36</td>
      <td>0.70</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>NMR</td>
      <td>NMR-BTC</td>
      <td>SELL</td>
      <td>0.00002324</td>
      <td>0.019</td>
      <td>1.40</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>SNX</td>
      <td>SNX-BTC</td>
      <td>SELL</td>
      <td>0.00000474</td>
      <td>0.015</td>
      <td>0.29</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>UMA</td>
      <td>UMA-BTC</td>
      <td>SELL</td>
      <td>4.0E-7</td>
      <td>0.001</td>
      <td>0.02</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>MKR</td>
      <td>MKR-BTC</td>
      <td>SELL</td>
      <td>0.00000306</td>
      <td>0.0001</td>
      <td>0.19</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>COMP</td>
      <td>COMP-BTC</td>
      <td>SELL</td>
      <td>0.00000368</td>
      <td>0.000</td>
      <td>0.22</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>YFI</td>
      <td>YFI-BTC</td>
      <td>SELL</td>
      <td>8.8E-7</td>
      <td>0.000001</td>
      <td>0.05</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>BAL</td>
      <td>BAL-BTC</td>
      <td>SELL</td>
      <td>0.00000135</td>
      <td>0.00</td>
      <td>0.08</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>UNI</td>
      <td>UNI-BTC</td>
      <td>SELL</td>
      <td>0.00000208</td>
      <td>0.004203</td>
      <td>0.13</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>BCH</td>
      <td>BCH-BTC</td>
      <td>SELL</td>
      <td>0.00003029</td>
      <td>0.00276548</td>
      <td>1.83</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>LTC</td>
      <td>LTC-BTC</td>
      <td>SELL</td>
      <td>0.00008067</td>
      <td>0.02098919</td>
      <td>4.88</td>
      <td>0.02</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>ETC</td>
      <td>ETC-BTC</td>
      <td>SELL</td>
      <td>0.00002144</td>
      <td>0.06660271</td>
      <td>1.30</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>ALGO</td>
      <td>ALGO-BTC</td>
      <td>BUY</td>
      <td>0.00000319</td>
      <td>0.135964</td>
      <td>0.19</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>ADA</td>
      <td>ADA-BTC</td>
      <td>BUY</td>
      <td>0.00002752</td>
      <td>1.4</td>
      <td>1.66</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>CGLD</td>
      <td>CGLD-BTC</td>
      <td>BUY</td>
      <td>0.00000539</td>
      <td>0.07</td>
      <td>0.33</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>ATOM</td>
      <td>ATOM-BTC</td>
      <td>BUY</td>
      <td>0.00009763</td>
      <td>0.271201</td>
      <td>5.90</td>
      <td>0.02</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>REN</td>
      <td>REN-BTC</td>
      <td>BUY</td>
      <td>0.00002563</td>
      <td>1.4</td>
      <td>1.55</td>
      <td>0.01</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>OMG</td>
      <td>OMG-BTC</td>
      <td>BUY</td>
      <td>0.00007236</td>
      <td>0.43826238</td>
      <td>4.37</td>
      <td>0.02</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>LRC</td>
      <td>LRC-BTC</td>
      <td>BUY</td>
      <td>0.00000802</td>
      <td>1</td>
      <td>0.48</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>MATIC</td>
      <td>MATIC-BTC</td>
      <td>BUY</td>
      <td>0.00000503</td>
      <td>0.8</td>
      <td>0.30</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>SKL</td>
      <td>SKL-BTC</td>
      <td>BUY</td>
      <td>0.00001762</td>
      <td>1.5</td>
      <td>1.06</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>NU</td>
      <td>NU-BTC</td>
      <td>BUY</td>
      <td>0.00000766</td>
      <td>0.790641</td>
      <td>0.46</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>BAND</td>
      <td>BAND-BTC</td>
      <td>BUY</td>
      <td>7.5E-7</td>
      <td>0.00</td>
      <td>0.05</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>REP</td>
      <td>REP-BTC</td>
      <td>BUY</td>
      <td>0.00012404</td>
      <td>0.14439009</td>
      <td>7.50</td>
      <td>0.03</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td>AAVE</td>
      <td>AAVE-BTC</td>
      <td>BUY</td>
      <td>0.00001373</td>
      <td>0.002</td>
      <td>0.83</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>BNT</td>
      <td>BNT-BTC</td>
      <td>BUY</td>
      <td>0.00010430</td>
      <td>0.870925</td>
      <td>6.30</td>
      <td>0.02</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td>SUSHI</td>
      <td>SUSHI-BTC</td>
      <td>BUY</td>
      <td>0.00000263</td>
      <td>0.01</td>
      <td>0.16</td>
      <td>0.00</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>KNC</td>
      <td>KNC-BTC</td>
      <td>BUY</td>
      <td>0.00010758</td>
      <td>1.57277297</td>
      <td>6.50</td>
      <td>0.02</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td>USDC</td>
      <td>BTC-USDC</td>
      <td>BUY</td>
      <td>0.00017424</td>
      <td>10.527652</td>
      <td>10.53</td>
      <td>0.04</td>
      <td>0.0001</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>0.00119457</td>
      <td></td>
      <td>72.19</td>
      <td>0.25</td>
      <td>0.0004</td>
    </tr>
  </tbody>
</table>
<h2>Invalid Coinbase Orders</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>asset</th>
      <th>type</th>
      <th>side</th>
      <th>product_id</th>
      <th>funds</th>
      <th>min_market_funds</th>
      <th>size</th>
      <th>base_min_size</th>
      <th>split_index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XTZ</td>
      <td>market</td>
      <td>sell</td>
      <td>XTZ-BTC</td>
      <td>0.00002041</td>
      <td>0.001</td>
      <td>0.19</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>XLM</td>
      <td>market</td>
      <td>sell</td>
      <td>XLM-BTC</td>
      <td>0.00000123</td>
      <td>0.001</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>DASH</td>
      <td>market</td>
      <td>sell</td>
      <td>DASH-BTC</td>
      <td>0.00000161</td>
      <td>0.0001</td>
      <td>0.000</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>ZEC</td>
      <td>market</td>
      <td>sell</td>
      <td>ZEC-BTC</td>
      <td>0.000006</td>
      <td>0.001</td>
      <td>0.0018</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>LINK</td>
      <td>market</td>
      <td>sell</td>
      <td>LINK-BTC</td>
      <td>0.00002975</td>
      <td>0.0001</td>
      <td>0.06</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>FIL</td>
      <td>market</td>
      <td>sell</td>
      <td>FIL-BTC</td>
      <td>0.00001716</td>
      <td>0.0001</td>
      <td>0.006</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>SNX</td>
      <td>market</td>
      <td>sell</td>
      <td>SNX-BTC</td>
      <td>0.00000474</td>
      <td>0.0001</td>
      <td>0.01</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>UMA</td>
      <td>market</td>
      <td>sell</td>
      <td>UMA-BTC</td>
      <td>4.0E-7</td>
      <td>0.0001</td>
      <td>0.001</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>COMP</td>
      <td>market</td>
      <td>sell</td>
      <td>COMP-BTC</td>
      <td>0.000004</td>
      <td>0.0001</td>
      <td>0.001</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>BAL</td>
      <td>market</td>
      <td>sell</td>
      <td>BAL-BTC</td>
      <td>0.00000135</td>
      <td>0.0001</td>
      <td>0.00</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>UNI</td>
      <td>market</td>
      <td>sell</td>
      <td>UNI-BTC</td>
      <td>0.00000208</td>
      <td>0.0001</td>
      <td>0.0</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>BCH</td>
      <td>market</td>
      <td>sell</td>
      <td>BCH-BTC</td>
      <td>0.00003</td>
      <td>0.001</td>
      <td>0.00273973</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>ETC</td>
      <td>market</td>
      <td>sell</td>
      <td>ETC-BTC</td>
      <td>0.000021</td>
      <td>0.001</td>
      <td>0.06521739</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>ALGO</td>
      <td>market</td>
      <td>buy</td>
      <td>ALGO-BTC</td>
      <td>0.00000319</td>
      <td>0.0001</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>CGLD</td>
      <td>market</td>
      <td>buy</td>
      <td>CGLD-BTC</td>
      <td>0.00000539</td>
      <td>0.0001</td>
      <td>0.07</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>REN</td>
      <td>market</td>
      <td>buy</td>
      <td>REN-BTC</td>
      <td>0.00000763</td>
      <td>0.0001</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>OMG</td>
      <td>market</td>
      <td>buy</td>
      <td>OMG-BTC</td>
      <td>0.00007236</td>
      <td>0.001</td>
      <td>0.4</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>MATIC</td>
      <td>market</td>
      <td>buy</td>
      <td>MATIC-BTC</td>
      <td>0.00000503</td>
      <td>0.0001</td>
      <td>0.8</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <td>SKL</td>
      <td>market</td>
      <td>buy</td>
      <td>SKL-BTC</td>
      <td>0.00001762</td>
      <td>0.0001</td>
      <td>1.5</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <td>NU</td>
      <td>market</td>
      <td>buy</td>
      <td>NU-BTC</td>
      <td>0.00000766</td>
      <td>0.0001</td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <td>BAND</td>
      <td>market</td>
      <td>buy</td>
      <td>BAND-BTC</td>
      <td>7.5E-7</td>
      <td>0.0001</td>
      <td>0.00</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>AAVE</td>
      <td>market</td>
      <td>buy</td>
      <td>AAVE-BTC</td>
      <td>0.00001373</td>
      <td>0.0001</td>
      <td>0.002</td>
      <td>0.01</td>
      <td>0</td>
    </tr>
    <tr>
      <td>SUSHI</td>
      <td>market</td>
      <td>buy</td>
      <td>SUSHI-BTC</td>
      <td>0.00000263</td>
      <td>0.0001</td>
      <td>0.01</td>
      <td>0.1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<h2>Valid Coinbase Orders to Submit</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>asset</th>
      <th>type</th>
      <th>side</th>
      <th>product_id</th>
      <th>size</th>
      <th>split_index</th>
      <th>funds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ETH</td>
      <td>market</td>
      <td>sell</td>
      <td>ETH-BTC</td>
      <td>0.00112045</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>EOS</td>
      <td>market</td>
      <td>sell</td>
      <td>EOS-BTC</td>
      <td>0.3</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>XLM</td>
      <td>market</td>
      <td>sell</td>
      <td>XLM-BTC</td>
      <td>8</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>GRT</td>
      <td>market</td>
      <td>sell</td>
      <td>GRT-BTC</td>
      <td></td>
      <td>0</td>
      <td>0.00001151</td>
    </tr>
    <tr>
      <td>NMR</td>
      <td>market</td>
      <td>sell</td>
      <td>NMR-BTC</td>
      <td>0.019</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>LTC</td>
      <td>market</td>
      <td>sell</td>
      <td>LTC-BTC</td>
      <td>0.02107728</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ADA</td>
      <td>market</td>
      <td>buy</td>
      <td>ADA-BTC</td>
      <td>1.36</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>ATOM</td>
      <td>market</td>
      <td>buy</td>
      <td>ATOM-BTC</td>
      <td>0.3</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>REN</td>
      <td>market</td>
      <td>buy</td>
      <td>REN-BTC</td>
      <td>1</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>LRC</td>
      <td>market</td>
      <td>buy</td>
      <td>LRC-BTC</td>
      <td>1</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>REP</td>
      <td>market</td>
      <td>buy</td>
      <td>REP-BTC</td>
      <td>0.144354</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>BNT</td>
      <td>market</td>
      <td>buy</td>
      <td>BNT-BTC</td>
      <td></td>
      <td>0</td>
      <td>0.00010430</td>
    </tr>
    <tr>
      <td>KNC</td>
      <td>market</td>
      <td>buy</td>
      <td>KNC-BTC</td>
      <td>1.6</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>USDC</td>
      <td>market</td>
      <td>buy</td>
      <td>BTC-USDC</td>
      <td>0.00017424</td>
      <td>0</td>
      <td></td>
    </tr>
  </tbody>
</table>
<h2>Log</h2>
<p>No line has percentage difference > threshold (threshold=10): No rebalance</p>
